.card-bg {
    background-color: var(--card-bg-color);
    border-radius: 23px;
}

.search-group {
    max-width: 572px;
}

.blocked-club-btn {
    background-color: var(--btn-color-blocked);
    color: #FF4646;
    width: 439px;
    height: 50px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 15px;
    margin-left: 10px;
}

.blocked-club-btn:hover {
    color: #FF4646
}

.text-muted {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
}

.text-success {
    font-family: 'Lexend', sans-serif;
    font-size: 12px;
    margin-top: -14px;
}

.filter-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: var(--filter-btn-bg-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 1000;
}

.filter-btn.active {
    background-color: #898C9F;
}

.filter-btn img {
    width: 24px;
    height: 24px;
}

.search-group {
    max-width: 572px;
}

.search-input {
    background-color: var(--search-bg-color);
    color: var(--font-color-white);
    height: 60px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 23px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-input:focus {
    background-color: var(--search-bg-color);
    color: var(--font-color-white);
    border-color: var(--search-border-color);
    box-shadow: none;
}

.search-input::placeholder {
    color: var(--search-placeholder-color);
}

.search-btn {
    height: 50px;
    background-color: --var(--search-btn-bg-color);
    border-radius: 16px;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn img {
    width: 30px;
    height: 30px;
}

.add-club-btn {
    background-color: var(--card-bg-color);
    color: var(--font-color-highlight);
    width: 439px;
    height: 50px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-club-btn:hover {
    color: var(--font-color-highlight);
}


.text-muted {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
}

.text-white {
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    color: white;
}

.text-post-event {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.text-header-club {
    font-size: 20px;
    color: var(--font-color-white);
    font-weight: 600;
    margin-bottom: 3px;
}

.location-text {
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    color: #898C9F;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.custom-height-card {
    height: 120px;
}

.card-bg {
    background-color: var(--card-bg-color);
    border-radius: 23px;
}

.club-card {
    background-color: var(--card-bg-color);
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s ease; 
}

.club-card:hover {
    background-color: var(--hover-bg-color);
}

.club-link {
    text-decoration: none;
    color: inherit; 
}

.club-link:hover {
    text-decoration: none;
}

.club-img {
    width: 60px;
    height: 60px;
}

.location-icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}