.detail-form {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.file-upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1D1F36;
    border: 2px solid #1D1F36;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.file-upload-button:hover {
    background-color: #1D1F36;
}

.file-upload-button i {
    font-size: 28px;
    margin-bottom: 10px;
}

.file-upload-button span {
    font-size: 16px;
    font-weight: bold;
}

.upload-info {
    font-size: 14px;
    color: #B0B0B0;
}

.header-event-club {
    margin-top: 5px;
}

.title-header-event {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: var(--font-color-white);
}

#event_details {
    height: 255px;
}

label .upload-info {
    font-size: 8px;
    color: #B0B0B0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-family: 'Lexend', sans-serif !important;
    font-size: 12px !important;
    background-color: #1D1F36 !important;
    color: #fff !important;
    box-shadow: 0 0 0px 1000px #1D1F36 inset !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important; 
    transition: background-color 5000s ease-in-out 0s;
}

.form-control[readonly] {
    background-color: #1D1F36 !important;
    color: white;
}

select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23898C9F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 40px;
}

select.form-control:focus {
    background-color: #1D1F36;
    color: white;
    outline: none;
    box-shadow: none;
}

select.form-control option {
    font-size: 14px;
    color: #fff;
}

select:focus {
    background-color: #1D1F36;
    color: #fff;
    outline: none;
    box-shadow: none;
}