@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

/* CSS Variables */
:root {
    --bg-color: #0D0A1C;
    --sidebar-bg-color: #1D1F36;
    --hover-bg-color: #292b4e;
    --border-left-color-hover: #6C63FF;
    --font-color-white: #ffffff;
    --font-color-muted: #898C9F;
    --font-color-red: red;
    --font-color-highlight: #6C63FF;
    --btn-bg-color: #FC5C65;
    --btn-color-blocked: #251020;
    --search-bg-color: #252945;
    --search-border-color: #3E4259;
    --search-placeholder-color: #6C7080;
    --card-bg-color: #1D1F36;
    --filter-btn-bg-color: #6C63FF;
    --tab-bg-color: #1D1F36;
    --tab-active-bg-color: #7A5BFF;
    --list-item-border-color: #2C2E48;
    --list-item-icon-bg-color: #2C2E48;
    --club-item-border-color: #2A2C42;
    --club-info-font-size: 16px;
    --club-info-margin-bottom: 9px;
}

body {
    background-color: var(--bg-color);
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    width: 100%; 
    height: 100vh; 
}


.text-section {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.text-section-left {
    font-size: 18px;
    font-weight: 400;
}

h5 {
    color: var(--font-color-muted);
    font-size: 18px;
}

.total-pending {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.total-active {
    font-size: 22px;
    font-weight: 700;
}

.text-green {
    color: var(--font-color-white);
    font-weight: 500;
    text-align: right;
    font-size: 14px;
}

.right-section {
    text-align: right;
}

.vs-last-week {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-muted);
}

.card-body .d-flex {
    align-items: center;
}

.club-item {
    padding: 10px 0;
}

.city-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-height-card {
    height: 120px;
}

.city-name {
    width: 100px;
    text-align: left;
    padding-right: 10px;
    font-size: 14px;
    color: var(--font-color-muted);
}

.bar-wrapper {
    flex-grow: 1;
    margin: 0 10px;
}

.bar {
    height: 10px;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.data-value {
    float: left;
    font-size: 14px;
}

.city-bar:hover .data-value {
    opacity: 1;
}

.club-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.club-info h6 {
    font-size: var(--club-info-font-size);
    margin-bottom: var(--club-info-margin-bottom);
}

.club-info p {
    font-size: 14px;
    color: var(--font-color-muted);
    display: flex;
    align-items: center;
}

.location-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.club-item span {
    font-size: 14px;
    color: var(--font-color-muted);
}

.participant-number {
    display: block;
    font-size: 14px;
    color: var(--font-color-white);
}

.mt-60 {
    margin-top: 60px;
}

.club-location {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.location-icon-club {
    width: 16px;  
    height: 16px; 
    margin-right: 4px;
    margin-top: 2px; 
}

.location-text {
    font-size: 14px;
    line-height: 2;
    padding-top: 1px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header .back-button .nav-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-all-users {
    font-family: 'Lexend', sans-serif;
    color: var(--font-color-white);
    font-weight: 500;
    font-size: 22px;
}

.header .title {
    font-size: 20px;
    color: #fff;
}

.btn-block {
    color: #fff;
    border: none;
    border-radius: 5px;
}

.search-group {
    max-width: 500px;
}

h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.table {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    width: 100%;
    color: #fff;
    background-color: #1D1F36;
}

.thead-custom {
    background-color: #1D1F36;
}

tbody {
    background-color: #000;
    border: 1px solid #1D1F36;
}

tbody tr td {
    border-top: 1px solid #1D1F36;
    border-bottom: 1px solid #1D1F36;
    border-right: 1px solid #1D1F36;
}

.table th,
.table td {
    vertical-align: middle;
}

.table thead th {
    vertical-align: bottom;
    background-color: #2C2F48;
    color: #fff;
}

.table tbody tr {
    border-top: 1px solid #454d55;
    border-bottom: 1px solid #454d55;
}

.table thead {
    background-color: #1D1F36;
    color: white;
    border: none;
}

.table thead th {
    border: none;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: #1D1F36;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
    background-color: #2C2F48;
}

.table thead {
    background-color: #1D1F36;
    color: white;
}

.table thead th {
    border: 1px solid #1D1F36; 
}

.table tbody tr {
    border-top: 1px solid #1D1F36; 
}

.table tbody tr td {
    border-right: 1px solid #1D1F36; 
}

.table tbody tr:last-child {
    border-bottom: 1px solid #1D1F36; 
}

.pagination-container {
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-no-border {
    border: none;
    box-shadow: none;
    outline: none;
}

.pagination-no-border:focus {
    box-shadow: none;
    outline: none;
}

.page-item {
    margin-right: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.page-item.active .page-link {
    background-color: #7A5BFF;
}

.page-link:hover {
    background-color: rgba(122, 91, 255, 0.5);
    color: #fff;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    width: auto;
    background-color: transparent;
    color: #7A5BFF;
}

.footer {
    font-family: 'Lexend', sans-serif;
    color: var(--font-color-white);
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    right: 20px;
}

@media (max-width: 767px) {
    .search-group {
        width: 100%;
    }
    
    .search-input {
        height: 40px;
    }
    
    .search-btn img {
        width: 15px;
        height: 15px;
    }
    
    .add-club-btn {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.search-group {
    position: relative;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #FF5C5C;
    border-radius: 16px;
    border: none;
    padding: 0 15px;
}

.add-club-btn {
    background-color: #7A5BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {  
    .container-fluid {
        margin-top: 30px;
    }

    .pagination-container {
        justify-content: center;
    }

    .pagination {
        justify-content: center;
    }

    .page-item {
        margin: 1px;
    }

    .page-link {
        width: 24px;
        height: 24px;
        font-size: 0.8rem;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        font-size: 0.7rem;
    }
}